* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root {
  --item-width: calc(320px * 0.9);
  --item-height: calc(200px * 0.9);
  --item-margin: 14px;
  --item-margin-x: var(--item-margin);
  --item-margin-y: var(--item-margin);
  --nest-padding: 3px;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background-color: #EEE;
  color: #3A3A3A;
}

.app {
  padding: 4% 5% 6%;
  padding-right: var(--item-margin-x);
}

.app h1 {
  margin-right: 5%;
}

.app h1 .subtitle {
  display: block;
  float: right;
  font-size: 0.5em;
  line-height: 2.5em;
  opacity: 0.5;
}

.section {
  margin: 5% 0;
  padding: 0 var(--nest-padding);
}

.items {
  margin-top: 2px;
  padding: 0 var(--nest-padding);
}

.item {
  display: inline-block;
  width: var(--item-width);
  margin-right: var(--item-margin-x);
  margin-top: var(--item-margin-y);
  text-align: center;
  background-color: #FFF;
  padding: 6px 7px 3px;
}

.item p {
  font-size: 15px;
  line-height: 1.7em;
  opacity: 0.9;
}

.thumb {
  display: block;
  width: var(--item-width);
  height: var(--item-height);
  background-color: #EEE;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thumb:hover {
  opacity: 0.8;
}

.user-select-none {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
