* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --width: 140px;
  --height: 90px;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background-color: #EEE;
  color: #333;
}

.app {
  padding: 3% 4% 5%;
}

.app .subtitle {
  float: right;
  line-height: 44px;
  font-size: 16px;
  opacity: 0.5;
}

.section {
  margin: 4% 0;
  padding: 0 2px;
}

.items {
  margin-top: 4px;
  padding: 0 3px;
}

.item {
  --margin-x: 20px;
  --margin-y: 12px;
  display: inline-block;
  width: var(--width);
  margin-right: var(--margin-x);
  margin-top: var(--margin-y);
  text-align: center;
}

.item p {
  margin-top: 3px;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
}

.thumb {
  display: block;
  width: var(--width);
  height: var(--height);
  border: 1px solid #888;
}

.thumb:nth-child(n+1) {
  margin-top: -1px;
}

.thumb:hover {
  position: relative;
  z-index: 2;
  border: 1px solid #AAA;
  opacity: 0.85;
}
