* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root {
  --item-width: 140px;
  --item-height: 90px;
  --item-margin-x: 14px;
  --item-margin-y: 14px;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background-color: #EEE;
  color: #3A3A3A;
}

.app {
  padding: 3% 4% 5%;
  padding-right: calc(4% - var(--item-margin-x));
}

.section {
  margin: 5% 0;
  padding: 0 1px;
}

.items {
  margin-top: 2px;
  padding: 0 1px;
}

.item {
  display: inline-block;
  width: var(--item-width);
  margin-right: var(--item-margin-x);
  margin-top: var(--item-margin-y);
  text-align: center;

  background-color: #FFF;
  padding: 7px 7px 3px;
}

.item p {
  font-size: 15px;
  line-height: 1.7em;
  opacity: 0.9;
}

.thumb {
  display: block;
  width: var(--item-width);
  height: var(--item-height);
}

.thumb:hover {
  opacity: 0.8;
}

.user-select-none {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
