* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --width: 140px;
  --height: 90px;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EEE;
  color: #333;
}

.app {
  padding: 3% 4% 5%;
}

.section {
  margin: 4% 0;
}

.item {
  --margin-x: 20px;
  --margin-y: 12px;
  display: inline-block;
  width: var(--width);
  margin-right: var(--margin-x);
  margin-top: var(--margin-y);
  text-align: center;
}

.item p {
  margin-top: 3px;
  font-size: 15px;
  opacity: 0.95;
}

.thumb {
  display: block;
  width: var(--width);
  height: var(--height);
  margin-bottom: 1px;
  border: 1px solid #777;
}

.thumb:hover {
  opacity: 0.85;
  border: 1px solid #999;
}
