* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --width: 140px;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EEE;
  color: #333;
}

.item {
  width: var(--width);
  text-align: center;
}

.thumb {
  display: block;
  width: var(--width);
  height: 90px;
  background-color: #333;
}
